*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.header-section {
    background-image: url(image/pexels-photo-4134514.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero {
    color: whitesmoke;
    font-size: 80px;
    margin-left: 200px;
}

.hero-1{
    color: whitesmoke;
    font-size: 60px;
}

.button {
    background-color: yellow;
   font-size: 35px !important;
   margin-left: 460px !important;
}